@import url(~sanitize.css);

html {
  font-size: 10px;
  line-height: 1;
  font-family: 'Lato', sans-serif;
}

.button {
  border: none;
  background: none;
  padding: 1.2rem 1.5rem;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.link {
  font-size: 2rem;
  &:hover {
    text-decoration: underline;
  }
}
i {
  color: inherit;
  font-size: inherit;
}
$shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$background-blue: #e1ebf5;
$dark-blue: hsl(207, 100%, 8%);
$accent-blue: #4e6882;
$black: #112130;
$white: #f3f3f3;
$green: #37e972;
$red: #e93c37;

@import './navbar.scss';
@import './landingPage.scss';
@import './auth.scss';

.hero__button {
  font-size: 3rem;
}
.button--cta {
  background: $black;
  color: $white;
}

// DEMO

.demo {
  display: flex;
  align-items: flex-start;
}

.board {
  background: rgb(245, 245, 245);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;
  padding: 5rem;
}
.column {
  background: rgb(245, 245, 245);
  box-shadow: $shadow;
  font-size: 2rem;
  padding: 2rem 3rem;
  text-align: center;
}
.task-list {
  &:hover {
    background: hsl(207, 100%, 50%);
  }
}
.task {
  margin: 0rem 0rem 1rem;
  // padding: 1rem 0rem;
  padding: 1rem 2rem;
  // text-align: center;
  background: hsl(207, 20%, 20%);
  // background: hsl(207, 100%, 8%);
  color: white;
  font-size: 2.5rem;
  box-shadow: $shadow;
}
.task-inner {
}

.chat {
  width: 100%;
  background: #ececec;
  min-height: 100vh;
  margin: 0rem;
  padding: 0rem;
  z-index: 2;
  display: flex;
  
}

.chat-sidebar {
  background: #2a3642;
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;
  height: 100vh;
  // padding-top: 2rem;
  padding: 2rem 0rem 0rem 2rem;
}
.user {
  align-self: flex-start;
  display: flex;
  // display: ;
  align-content: center;
  // justify-content: center
}
.user-name {
  font-size: 3rem;
  color: white;
  // line-height: 0rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
.user-image-container {
  width: 20%;
  // height: 30%;
  position: relative;
}
.user-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  // display: none;
}
.user-status-icon {
  color: $green;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 0.3rem solid #2a3642;
  font-size: 1.5rem;
}
.user-status-toggle {
  line-height: 0rem;
  font-size: 1.8rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  display: inline-block;
  color: $green;
  i {
    font-size: 3rem;
    color: inherit;
  }
}
.user-text {
  // border: 3px solid red;
}

.chat-sidebar-list {
  list-style: none;
  padding: 0rem;
}

.chat-sidebar-list__header {
  font-size: 2rem;
  color: #6886a3;
  font-weight: 500;
}

.inline-user {
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  margin: 1.5rem 0rem;
  i {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.online {
  color: $green;
}

.offline {
  color: $red;
}
.room {
  margin: 1.5rem 0rem;
  font-size: 2rem;
  color: white;
}
.room--selected {
  background: #007af5;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  &::after {
    content: '';
    width: 2rem;
    height: 100%;
    position: absolute;
    // background: red;
    background: #007af5;
    clip-path: polygon(0 1%, 0% 100%, 100% 50%);
    top: 0;
    right: -2rem;
  }
}

.chat-area{
  width: 100%;

}
